{% extends "base.html" %} {% block announce %}

<div class="admonition warning">
  <p class="admonition-title">Warning</p>
  <p>
    This documentation is currently under development and will soon replace the
    old one. For now, please refer to the
    <a href="https://setup-guide.web3pi.io/">old documentation</a>.
  </p>
</div>

{% endblock %} {% block scripts %} {{ super() }}
<script
  defer
  src="https://umami.web3pi.io/script.js"
  data-website-id="8d4deb79-53da-4f6e-831d-4a537558223f"
></script>

{% endblock %}
